!!! xml
%openbox_menu{ :xmlns => 'http://openbox.org/3.4/menu' }
  %menu{ :id => 'root', :label => 'openbox' }
    -# the id of the menu will be referenced by a keybind

    %separator{ :label => 'Applications' }

    %item{ :label => 'Firefox' }
      %action{ :name => 'Execute' }
        %command firefox -P old

    %item{ :label => 'Goldendict' }
      %action{ :name => 'Execute' }
        %command goldendict

    %item{ :label => 'QBittorrent' }
      %action{ :name => 'Execute' }
        %command qbittorrent

    %separator

    %item{ :label => 'Log out' }
      %action{ :name => 'Exit' }
        %prompt yes
