<?xml version="1.0" encoding="UTF-8"?>
%openbox_config{ :xmlns      => 'http://openbox.org/3.4/rc',
                 :'xmlns:xi' => 'http://www.w3.org/2001/XInclude' }
  - Dir.glob('src/_/_[0-9][0-9]*.haml').sort.each do |f|
    = Haml::Engine.new(File.read f).render
