# /etc/systemd/system

[Unit]
Description=Reset cmedia configuration

[Service]
Environment="HOME=/home/user"
ExecStart=/usr/local/bin/cmedia reset

[Install]
WantedBy=default.target
