[Unit]
Description=A Personal Wiki

[Service]
ExecStart=/home/user/.rvm/bin/rvm ruby-3.3.5@user do ruby /home/user/.local/srv/instiki/instiki

[Install]
WantedBy=default.target
