# /etc/systemd/system

[Unit]
Description=Map scancodes to keycodes

[Service]
ExecStart=/usr/local/bin/map-scancodes-to-keycodes

[Install]
WantedBy=default.target
