%theme
  %name sample

  %titleLayout L
  -# available characters are NDSLIMC, each can occur at most once;
  -# N: window icon
  -# L: window label (AKA title).
  -# I: iconify
  -# M: maximize
  -# C: close
  -# S: shade (roll up/down)
  -# D: omnipresent (on all desktops).

  %keepBorder no
  -# if windows should keep the border drawn by Openbox when window decorations are turned off

  %animateIconify no
  -# adds a little iconification animation if enabled

  %font{ :place => 'ActiveWindow' }
    %name PT Sans
    %size 10
    -# font size in points

    %weight normal
    -# “bold” or “normal”

    %slant normal
    -# “italic” or “normal“

  %font{ :place => 'InactiveWindow' }
    %name PT Sans
    %size 10
    -# font size in points

    %weight normal
    -# “bold” or “normal”

    %slant normal
    -# “italic” or “normal“

  %font{ :place => 'MenuHeader' }
    %name PT Sans
    %size 10
    -# font size in points

    %weight bold
    -# “bold” or “normal”

    %slant normal
    -# “italic” or “normal“

  %font{ :place => 'MenuItem' }
    %name PT Sans
    %size 10
    -# font size in points

    %weight normal
    -# “bold” or “normal”

    %slant normal
    -# “italic” or “normal“

  %font{ :place => 'ActiveOnScreenDisplay' }
    %name PT Sans
    %size 10
    -# font size in points

    %weight normal
    -# “bold” or “normal”

    %slant normal
    -# “italic” or “normal“

  %font{ :place => 'InactiveOnScreenDisplay' }
    %name PT Sans
    %size 10
    -# font size in points

    %weight normal
    -# “bold” or “normal”

    %slant normal
    -# “italic” or “normal“
