%resize
  %drawContents yes

  %popupShow Always
  -# “Always”, “Never”, or “Nonpixel” (xterms and such)

  %popupPosition Center
  -# “Center”, “Top”, or “Fixed”

  %popupFixedPosition
    -# these are used if popupPosition is set to “Fixed”

    %x 10
    -# positive number for distance from left edge, negative number for
    -# distance from right edge, or “Center”

    %y 10
    -# positive number for distance from top edge, negative number for
    -# distance from bottom edge, or “Center”
