-# You can reserve a portion of your screen where windows will not cover when
-# they are maximized, or when they are initially placed.
-# Many programs reserve space automatically, but you can use this in other cases.
%margins
  %top 0
  %bottom 0
  %left 0
  %right 0
