%keyboard
  -# Keybindings for desktop switching
  -# Go to a desktop
  %keybind{ :key => 'C-A-h' }
    %action{ :name => 'GoToDesktop' }
      %to left
      %wrap no

  %keybind{ :key => 'C-A-l' }
    %action{ :name => 'GoToDesktop' }
      %to right
      %wrap no

  -# Go to a specific desktop
  %keybind{ :key => 'C-A-1' }
    %action{ :name => 'GoToDesktop' }
      %to 1

  %keybind{ :key => 'C-A-2' }
    %action{ :name => 'GoToDesktop' }
      %to 2

  %keybind{ :key => 'C-A-3' }
    %action{ :name => 'GoToDesktop' }
      %to 3

  %keybind{ :key => 'C-A-4' }
    %action{ :name => 'GoToDesktop' }
      %to 4

  %keybind{ :key => 'C-A-5' }
    %action{ :name => 'GoToDesktop' }
      %to 5

  %keybind{ :key => 'C-A-6' }
    %action{ :name => 'GoToDesktop' }
      %to 6

  %keybind{ :key => 'C-A-7' }
    %action{ :name => 'GoToDesktop' }
      %to 7

  %keybind{ :key => 'C-A-8' }
    %action{ :name => 'GoToDesktop' }
      %to 8

  %keybind{ :key => 'C-A-9' }
    %action{ :name => 'GoToDesktop' }
      %to 9

  %keybind{ :key => 'C-A-0' }
    %action{ :name => 'GoToDesktop' }
      %to 10

  -# Keybindings for sending windows to desktops
  -# Send to a desktop
  %keybind{ :key => 'C-S-A-h' }
    %action{ :name => 'SendToDesktop' }
      %to left
      %wrap no

  %keybind{ :key => 'C-S-A-l' }
    %action{ :name => 'SendToDesktop' }
      %to right
      %wrap no

  -# Send to a specific desktop
  %keybind{ :key => 'C-S-A-1' }
    %action{ :name => 'SendToDesktop' }
      %to 1

  %keybind{ :key => 'C-S-A-2' }
    %action{ :name => 'SendToDesktop' }
      %to 2

  %keybind{ :key => 'C-S-A-3' }
    %action{ :name => 'SendToDesktop' }
      %to 3

  %keybind{ :key => 'C-S-A-4' }
    %action{ :name => 'SendToDesktop' }
      %to 4

  %keybind{ :key => 'C-S-A-5' }
    %action{ :name => 'SendToDesktop' }
      %to 5

  %keybind{ :key => 'C-S-A-6' }
    %action{ :name => 'SendToDesktop' }
      %to 6

  %keybind{ :key => 'C-S-A-7' }
    %action{ :name => 'SendToDesktop' }
      %to 7

  %keybind{ :key => 'C-S-A-8' }
    %action{ :name => 'SendToDesktop' }
      %to 8

  %keybind{ :key => 'C-S-A-9' }
    %action{ :name => 'SendToDesktop' }
      %to 9

  %keybind{ :key => 'C-S-A-0' }
    %action{ :name => 'SendToDesktop' }
      %to 10

  -# Keybindings for window switching
  %keybind{ :key => 'A-Tab' }
    %action{ :name => 'NextWindow' }
      %allDesktops yes
      %bar no
      %finalactions
        %action{ :name => 'Focus' }
        %action{ :name => 'Raise' }
        %action{ :name => 'Unshade' }

  %keybind{ :key => 'A-S-Tab' }
    %action{ :name => 'PreviousWindow' }
      %allDesktops yes
      %bar no
      %finalactions
        %action{ :name => 'Focus' }
        %action{ :name => 'Raise' }
        %action{ :name => 'Unshade' }

  %keybind{ :key => 'A-Escape' }
    %action{ :name => 'Lower' }
    %action{ :name => 'FocusToBottom' }
    %action{ :name => 'Unfocus' }

  -# Keybindings for setting window sizes
  %keybind{ :key => 'W-1' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 1564
      %height 840

  %keybind{ :key => 'W-2' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 1200
      %height 800

  %keybind{ :key => 'W-3' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 800
      %height 600

  %keybind{ :key => 'W-4' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 800
      %height 874

  %keybind{ :key => 'W-5' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 1280
      %height 720

  -# Keybindings related to window states and positions
  %keybind{ :key => 'W-d' }
    %action{ :name => 'ToggleShowDesktop' }

  %keybind{ :key => 'W-c' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center

  %keybind{ :key => 'C-A-s' }
    %action{ :name => 'ToggleMaximizeFull' }

  %keybind{ :key => 'C-A-f' }
    %action{ :name => 'ToggleFullscreen' }

  %keybind{ :key => 'C-A-c' }
    %action{ :name => 'Close' }

  %keybind{ :key => 'A-space' }
    %action{ :name => 'ShowMenu' }
      %menu client-menu

  %keybind{ :key => 'W-comma' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x 0
      %y 0
      %width 801
      %height 874

  %keybind{ :key => 'W-period' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x 799
      %y 0
      %width 801
      %height 874

  -# Alternate keybindings for changing window states
  %chainQuitKey C-g

  %keybind{ :key => 'W-i' }
    %keybind{ :key => 'c' }
      %action{ :name => 'Close' }

    %keybind{ :key => 's' }
      %action{ :name => 'ToggleMaximizeFull' }

    %keybind{ :key => 'f' }
      %action{ :name => 'ToggleFullscreen' }

  -# Keybindings for starting applications
  %keybind{ :key => 'C-A-t' }
    %action{ :name => 'Execute' }
      %command urxvtt

  %keybind{ :key => 'C-A-v' }
    %action{ :name => 'Execute' }
      %command urxvt -e vim

  %keybind{ :key => 'C-A-m' }
    %action{ :name => 'Execute' }
      %command urxvt -e vifm

  -# Keybindings for controlling an application launcher
  %keybind{ :key => 'W-r' }
    %action{ :name => 'Execute' }
      %command rofi -show run

  %keybind{ :key => 'W-space' }
    %action{ :name => 'Execute' }
      %command rofi -show drun

  %keybind{ :key => 'C-A-w' }
    %action{ :name => 'Execute' }
      %command rofi -show window

  -# Keybindings for changing a keyboard layout
  -# %keybind{ :key => 'W-j' }
  -#   %action{ :name => 'Execute' }
  -#     %command xkb-switch -s us

  -# %keybind{ :key => 'W-k' }
  -#   %action{ :name => 'Execute' }
  -#     %command xkb-switch -s ru

  %keybind{ :key => 'W-j W-Cyrillic_o W-0' }
    %action{ :name => 'Execute' }
      %command ibus engine xkb:us::eng

  %keybind{ :key => 'W-k W-Cyrillic_el' }
    %action{ :name => 'Execute' }
      %command ibus engine xkb:ru::rus

  %keybind{ :key => 'W-l W-Cyrillic_de' }
    %action{ :name => 'Execute' }
      %command ibus engine anthy

  -# Keybindings for controlling the mouse pointer and a touchpad
  %keybind{ :key => 'W-x' }
    %action{ :name => 'Execute' }
      %command pointer_hide

  %keybind{ :key => 'C-A-p' }
    %action{ :name => 'Execute' }
      %command touchpad_toggle

  -# Keybindings for controlling the sound subsystem
  %keybind{ :key => 'W-q' }
    %action{ :name => 'Execute' }
      %command amixer set Speaker 1%-

  %keybind{ :key => 'W-w' }
    %action{ :name => 'Execute' }
      %command amixer set Speaker 1%+

  %keybind{ :key => 'W-e' }
    %action{ :name => 'Execute' }
      %command amixer set Speaker toggle
