%keyboard
  -# Use the `xev' utility to get a keycode as a decimal value.
  -# Use `printf "%x\n" 43' to convert the decimal value (here is `43') to hexadecimal.

  -# Keybindings for desktop switching
  -# Go to a desktop
  -# 0x2b — `h'
  %keybind{ :key => 'C-A-0x2b' }
    %action{ :name => 'GoToDesktop' }
      %to left
      %wrap no

  -# 0x2e — `l'
  %keybind{ :key => 'C-A-0x2e' }
    %action{ :name => 'GoToDesktop' }
      %to right
      %wrap no

  -# Go to a specific desktop
  -# 0xa — `1'
  %keybind{ :key => 'C-A-0xa' }
    %action{ :name => 'GoToDesktop' }
      %to 1

  -# 0xb — `2'
  %keybind{ :key => 'C-A-0xb' }
    %action{ :name => 'GoToDesktop' }
      %to 2

  -# 0xc — `3'
  %keybind{ :key => 'C-A-0xc' }
    %action{ :name => 'GoToDesktop' }
      %to 3

  -# 0xd — `4'
  %keybind{ :key => 'C-A-0xd' }
    %action{ :name => 'GoToDesktop' }
      %to 4

  -# 0xe — `5'
  %keybind{ :key => 'C-A-0xe' }
    %action{ :name => 'GoToDesktop' }
      %to 5

  -# 0xf — `6'
  %keybind{ :key => 'C-A-0xf' }
    %action{ :name => 'GoToDesktop' }
      %to 6

  -# 0x10 — `7'
  %keybind{ :key => 'C-A-0x10' }
    %action{ :name => 'GoToDesktop' }
      %to 7

  -# 0x11 — `8'
  %keybind{ :key => 'C-A-0x11' }
    %action{ :name => 'GoToDesktop' }
      %to 8

  -# 0x12 — `9'
  %keybind{ :key => 'C-A-0x12' }
    %action{ :name => 'GoToDesktop' }
      %to 9

  -# 0x13 — `0'
  %keybind{ :key => 'C-A-0x13' }
    %action{ :name => 'GoToDesktop' }
      %to 10

  -# Keybindings for sending windows to desktops
  -# Send to a desktop
  -# 0x2b — `h'
  %keybind{ :key => 'C-S-A-0x2b' }
    %action{ :name => 'SendToDesktop' }
      %to left
      %wrap no

  -# 0x2e — `l'
  %keybind{ :key => 'C-S-A-0x2e' }
    %action{ :name => 'SendToDesktop' }
      %to right
      %wrap no

  -# Send to a specific desktop
  -# 0xa — `1'
  %keybind{ :key => 'C-S-A-0xa' }
    %action{ :name => 'SendToDesktop' }
      %to 1

  -# 0xb — `2'
  %keybind{ :key => 'C-S-A-0xb' }
    %action{ :name => 'SendToDesktop' }
      %to 2

  -# 0xc — `3'
  %keybind{ :key => 'C-S-A-0xc' }
    %action{ :name => 'SendToDesktop' }
      %to 3

  -# 0xd — `4'
  %keybind{ :key => 'C-S-A-0xd' }
    %action{ :name => 'SendToDesktop' }
      %to 4

  -# 0xe — `5'
  %keybind{ :key => 'C-S-A-0xe' }
    %action{ :name => 'SendToDesktop' }
      %to 5

  -# 0xf — `6'
  %keybind{ :key => 'C-S-A-0xf' }
    %action{ :name => 'SendToDesktop' }
      %to 6

  -# 0x10 — `7'
  %keybind{ :key => 'C-S-A-0x10' }
    %action{ :name => 'SendToDesktop' }
      %to 7

  -# 0x11 — `8'
  %keybind{ :key => 'C-S-A-0x11' }
    %action{ :name => 'SendToDesktop' }
      %to 8

  -# 0x12 — `9'
  %keybind{ :key => 'C-S-A-0x12' }
    %action{ :name => 'SendToDesktop' }
      %to 9

  -# 0x13 — `0'
  %keybind{ :key => 'C-S-A-0x13' }
    %action{ :name => 'SendToDesktop' }
      %to 10

  -# Keybindings for window switching
  -# Cycle windows on all desktops
  -# 0x17 — `Tab'
  %keybind{ :key => 'A-0x17' }
    %action{ :name => 'NextWindow' }
      %allDesktops yes
      %bar no
      %finalactions
        %action{ :name => 'Focus' }
        %action{ :name => 'Raise' }
        %action{ :name => 'Unshade' }

  -# 0x17 — `Tab'
  %keybind{ :key => 'A-S-0x17' }
    %action{ :name => 'PreviousWindow' }
      %allDesktops yes
      %bar no
      %finalactions
        %action{ :name => 'Focus' }
        %action{ :name => 'Raise' }
        %action{ :name => 'Unshade' }

  -# Cycle windows on the current desktop
  -# 0x9 — `Escape'
  %keybind{ :key => 'A-0x9' }
    %action{ :name => 'NextWindow' }
      %dialog none
      %bar no
      %interactive no
      %linear yes
      %allDesktops no

  -# 0x9 — `Escape'
  %keybind{ :key => 'A-S-0x9' }
    %action{ :name => 'PreviousWindow' }
      %dialog none
      %bar no
      %interactive no
      %linear yes
      %allDesktops no

  -# Keybindings for setting window sizes
  -# 0xa — `1'
  %keybind{ :key => 'W-0xa' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 1574
      %height 856

  -# 0xb — `2'
  %keybind{ :key => 'W-0xb' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 1200
      %height 800

  -# 0xc — `3'
  %keybind{ :key => 'W-0xc' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 800
      %height 600

  -# 0xd — `4'
  %keybind{ :key => 'W-0xd' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 800
      %height 876

  -# 0xe — `5'
  %keybind{ :key => 'W-0xe' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center
      %width 1280
      %height 720

  -# Keybindings related to window states and positions
  -# 0x28 — `d'
  %keybind{ :key => 'W-0x28' }
    %action{ :name => 'ToggleShowDesktop' }

  -# 0x36 — `c'
  %keybind{ :key => 'W-0x36' }
    %action{ :name => 'MoveResizeTo' }
      %x center
      %y center

  -# 0x27 — `s'
  %keybind{ :key => 'C-A-0x27' }
    %action{ :name => 'ToggleMaximizeFull' }

  -# 0x29 — `f'
  %keybind{ :key => 'C-A-0x29' }
    %action{ :name => 'ToggleFullscreen' }

  -# 0x1b — `r'
  %keybind{ :key => 'C-A-0x1b' }
    %action{ :name => 'Iconify' }

  -# 0x36 — `c'
  %keybind{ :key => 'C-A-0x36' }
    %action{ :name => 'Close' }

  -# 0x41 — `space'
  %keybind{ :key => 'A-0x41' }
    %action{ :name => 'ShowMenu' }
      %menu client-menu

  -# 0x3b — `comma'
  %keybind{ :key => 'W-0x3b' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x 0
      %y 0
      %width 801
      %height 876

  -# 0x3c — `period'
  %keybind{ :key => 'W-0x3c' }
    %action{ :name => 'Unmaximize' }
    %action{ :name => 'MoveResizeTo' }
      %x 799
      %y 0
      %width 801
      %height 876

  -# Alternate keybindings for changing window states
  -# 0x2a — `g'
  %chainQuitKey C-0x2a


  -# 0x1f — `i'
  %keybind{ :key => 'W-0x1f' }
    -# 0x1b — `r'
    %keybind{ :key => '0x1b' }
      %action{ :name => 'Iconify' }

    -# 0x36 — `c'
    %keybind{ :key => '0x36' }
      %action{ :name => 'Close' }

    -# 0x27 — `s'
    %keybind{ :key => '0x27' }
      %action{ :name => 'If'}
        %query
          %maximized no
        %then
          %action{ :name => 'Undecorate' }
          %action{ :name => 'Maximize' }
        %else
          %action{ :name => 'If'}
            %query
              %maximized yes
            %then
              %action{ :name => 'Decorate' }
              %action{ :name => 'Unmaximize' }

    -# 0x29 — `f'
    %keybind{ :key => '0x29' }
      %action{ :name => 'ToggleFullscreen' }

  -# Keybindings for starting applications
  -# 0x1c — `t'
  %keybind{ :key => 'C-A-0x1c' }
    %action{ :name => 'Execute' }
      %command urxvtt

  -# 0x37 — `v'
  %keybind{ :key => 'C-A-0x37' }
    %action{ :name => 'Execute' }
      %command urxvt -e vim

  -# 0x3a — `m'
  %keybind{ :key => 'C-A-0x3a' }
    %action{ :name => 'Execute' }
      %command urxvt -e vifm

  -# Keybindings for controlling an application launcher
  -# 0x1b — `r'
  %keybind{ :key => 'W-0x1b' }
    %action{ :name => 'Execute' }
      %command rofi -show run

  -# 0x41 — `space'
  %keybind{ :key => 'W-0x41' }
    %action{ :name => 'Execute' }
      %command rofi -show drun

  -# 0x19 — `w'
  %keybind{ :key => 'C-A-0x19' }
    %action{ :name => 'Execute' }
      %command rofi -show window

  -# Keybindings for changing a keyboard layout
  -# 0x2c — `j'
  -# %keybind{ :key => 'W-0x2c' }
  -#   %action{ :name => 'Execute' }
  -#     %command xkb-switch -s us

  -# 0x2d — `k'
  -# %keybind{ :key => 'W-0x2d' }
  -#   %action{ :name => 'Execute' }
  -#     %command xkb-switch -s ru

  -# 0x2c — `j'
  %keybind{ :key => 'W-0x2c' }
    %action{ :name => 'Execute' }
      %command ibus engine xkb:us::eng

  -# 0x2d — `k'
  %keybind{ :key => 'W-0x2d' }
    %action{ :name => 'Execute' }
      %command ibus engine xkb:ru::rus

  -# 0x2e — `l'
  %keybind{ :key => 'W-0x2e' }
    %action{ :name => 'Execute' }
      %command ibus engine anthy

  -# Keybindings for controlling the mouse pointer and a touchpad
  -# 0x35 — `x'
  %keybind{ :key => 'W-0x35' }
    %action{ :name => 'Execute' }
      %command pointer_hide

  -# 0x21 — `p'
  %keybind{ :key => 'C-A-0x21' }
    %action{ :name => 'Execute' }
      %command touchpad_toggle

  -# Keybindings for controlling the sound subsystem
  -# 0x18 — `q'
  %keybind{ :key => 'W-0x18' }
    %action{ :name => 'Execute' }
      %command volume_control 1%-

  -# 0x19 — `w'
  %keybind{ :key => 'W-0x19' }
    %action{ :name => 'Execute' }
      %command volume_control 1%+

  -# 0x1a — `e'
  %keybind{ :key => 'W-0x1a' }
    %action{ :name => 'Execute' }
      %command volume_control toggle

  -# 0x3a — `m'
  -# %keybind{ :key => 'W-0x3a F1' }
  -#   %action{ :name => 'ShowMenu' }
  -#     %menu root
  -#     %position
  -#       %x 0
  -#       %y 24
