%mouse
  %dragThreshold 1
  -# number of pixels the mouse must move before a drag begins

  %doubleClickTime 500
  -# in milliseconds (1000 = 1 second)

  %screenEdgeWarpTime 400
  -# Time before changing desktops when the pointer touches the edge of the
  -# screen while moving a window, in milliseconds (1000 = 1 second).
  -# Set this to 0 to disable warping.

  %screenEdgeWarpMouse false
  -# Set this to “true” to move the mouse pointer across the desktop when
  -# switching due to hitting the edge of the screen.

  -# Window frame
  -# %context{ :name => 'Frame' }
    -# %mousebind{ :button => 'A-Left', :action => 'Press' }
    -#   %action{ :name => 'Focus' }
    -#   %action{ :name => 'Raise' }

    -# %mousebind{ :button => 'A-Left', :action => 'Click' }
    -#   %action{ :name => 'Unshade' }

    -# %mousebind{ :button => 'A-Left', :action => 'Drag' }
    -#   %action{ :name => 'Move' }

    -# %mousebind{ :button => 'A-Right', :action => 'Press' }
    -#   %action{ :name => 'Focus' }
    -#   %action{ :name => 'Raise' }
    -#   %action{ :name => 'Unshade' }

    -# %mousebind{ :button => 'A-Right', :action => 'Drag' }
    -#   %action{ :name => 'Resize' }

    -# %mousebind{ :button => 'A-Middle', :action => 'Press' }
    -#   %action{ :name => 'Lower' }
    -#   %action{ :name => 'FocusToBottom' }
    -#   %action{ :name => 'Unfocus' }

    -# %mousebind{ :button => 'A-Up', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to previous

    -# %mousebind{ :button => 'A-Down', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to next

    -# %mousebind{ :button => 'C-A-Up', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to previous

    -# %mousebind{ :button => 'C-A-Down', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to next

    -# %mousebind{ :button => 'A-S-Up', :action => 'Click' }
    -#   %action{ :name => 'SendToDesktop' }
    -#     %to previous

    -# %mousebind{ :button => 'A-S-Down', :action => 'Click' }
    -#   %action{ :name => 'SendToDesktop' }
    -#     %to next

  -# Title bar
  %context{ :name => 'Titlebar' }
    %mousebind{ :button => 'Left', :action => 'Drag' }
      %action{ :name => 'Move' }

    %mousebind{ :button => 'Left', :action => 'DoubleClick' }
      %action{ :name => 'ToggleMaximize' }

    %mousebind{ :button => 'Up', :action => 'Click' }
      %action{ :name => 'if' }
        %shaded no
        %then
          %action{ :name => 'Shade' }
          -# %action{ :name => 'FocusToBottom' }
          -# %action{ :name => 'Unfocus' }
          -# %action{ :name => 'Lower' }

    %mousebind{ :button => 'Down', :action => 'Click' }
      %action{ :name => 'if' }
        %shaded yes
        %then
          %action{ :name => 'Unshade' }
          -# %action{ :name => 'Raise' }

  -# Common settings for elements of the window decoration
  %context{ :name => 'Titlebar Top Right Bottom Left TLCorner TRCorner BRCorner BLCorner' }
    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }
      -# %action{ :name => 'Unshade' }

    %mousebind{ :button => 'Middle', :action => 'Press' }
      %action{ :name => 'Lower' }
      %action{ :name => 'FocusToBottom' }
      %action{ :name => 'Unfocus' }

    %mousebind{ :button => 'Right', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }
      %action{ :name => 'ShowMenu' }
        %menu client-menu

  -# Separate settings for elements of the window decoration
  %context{ :name => 'Top' }
    %mousebind{ :button => 'Left', :action => 'Drag' }
      %action{ :name => 'Resize' }
        %edge top

  %context{ :name => 'Right' }
    %mousebind{ :button => 'Left', :action => 'Drag' }
      %action{ :name => 'Resize' }
        %edge right

  %context{ :name => 'Bottom' }
    %mousebind{ :button => 'Left', :action => 'Drag' }
      %action{ :name => 'Resize' }
        %edge bottom

  %context{ :name => 'Left' }
    %mousebind{ :button => 'Left', :action => 'Drag' }
      %action{ :name => 'Resize' }
        %edge left

  %context{ :name => 'TRCorner BRCorner BLCorner TLCorner' }
    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }
      %action{ :name => 'Unshade' }

  -# The part of a window inside the window decoration.
  -# Only press events can be used in this context.
  -# Click events will be passed through to the application.
  %context{ :name => 'Client' }
    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }

    %mousebind{ :button => 'Middle', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }

    %mousebind{ :button => 'Right', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }

  -# The application icon shown in the window titlebar.
  %context{ :name => 'Icon' }
    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }
      %action{ :name => 'Unshade' }
      %action{ :name => 'ShowMenu'}
        %menu client-menu

  -# The all-desktops button in the window titlebar.
  %context{ :name => 'AllDesktops' }
    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }
      %action{ :name => 'Unshade' }

    %mousebind{ :button => 'Left', :action => 'Click' }
      %action{ :name => 'ToggleOmnipresent' }

  -# The shade button in the window titlebar.
  %context{ :name => 'Shade' }
    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }

    %mousebind{ :button => 'Left', :action => 'Click' }
      %action{ :name => 'ToggleShade' }

  -# The iconify button in the window titlebar.
  %context{ :name => 'Iconify' }
    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }

    %mousebind{ :button => 'Left', :action => 'Click' }
      %action{ :name => 'Iconify' }

  -# The maximize button in the window titlebar.
  %context{ :name => 'Maximize' }
    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }
      %action{ :name => 'Unshade' }

    %mousebind{ :button => 'Middle', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }
      %action{ :name => 'Unshade' }

    %mousebind{ :button => 'Right', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }
      %action{ :name => 'Unshade' }

    %mousebind{ :button => 'Left', :action => 'Click' }
      %action{ :name => 'ToggleMaximize' }

    %mousebind{ :button => 'Middle', :action => 'Click' }
      %action{ :name => 'ToggleMaximize' }
        %direction vertical

    %mousebind{ :button => 'Right', :action => 'Click' }
      %action{ :name => 'ToggleMaximize' }
        %direction horizontal

  -# The close button in the window titlebar.
  %context{ :name => 'Close' }
    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }
      %action{ :name => 'Unshade' }

    %mousebind{ :button => 'Left', :action => 'Click' }
      %action{ :name => 'Close' }

  -# The Desktop
  -# These bindings will override the ones, specified for icons
  -# on the desktop.
  %context{ :name => 'Desktop' }
    -# %mousebind{ :button => 'Up', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to previous

    -# %mousebind{ :button => 'Down', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to next

    -# %mousebind{ :button => 'A-Up', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to previous

    -# %mousebind{ :button => 'A-Down', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to next

    -# %mousebind{ :button => 'C-A-Up', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to previous

    -# %mousebind{ :button => 'C-A-Down', :action => 'Click' }
    -#   %action{ :name => 'GoToDesktop' }
    -#     %to next

    %mousebind{ :button => 'Left', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }

    %mousebind{ :button => 'Right', :action => 'Press' }
      %action{ :name => 'Focus' }
      %action{ :name => 'Raise' }

  -# These bindings will _not_ override the ones, specified for icons
  -# on the desktop.
  %context{ :name => 'Root' }
    %mousebind{ :button => 'Middle', :action => 'Press' }
      %action{ :name => 'ShowMenu' }
        %menu client-list-combined-menu

    %mousebind{ :button => 'Right', :action => 'Press' }
      %action{ :name => 'ShowMenu' }
        %menu root

  -# These bindings should work when either the move or the resize mode
  -# has been activated for a window, by launching the `Move' or the `Resize'
  -# actions. However, for some reason, the bindings doesn't perform any bound actions.
  -# %context{ :name => 'MoveResize' }
  -#   %mousebind{ :button => 'Up', :action => 'Click' }
  -#     %action{ :name => 'GoToDesktop' }
  -#       %to previous

  -#   %mousebind{ :button => 'Down', :action => 'Click' }
  -#     %action{ :name => 'GoToDesktop' }
  -#       %to next

  -#   %mousebind{ :button => 'A-Up', :action => 'Click' }
  -#     %action{ :name => 'GoToDesktop' }
  -#       %to previous

  -#   %mousebind{ :button => 'A-Down', :action => 'Click' }
  -#     %action{ :name => 'GoToDesktop' }
  -#       %to next
