%applications
  -# Use the `xprop' command to query window properties.

  -# This is an example with comments through out. Use these to make your
  -# own rules, but without the comments of course.

  -# You may use one or more of the name/class/role/title/type rules to specify
  -# windows to match.

  -# %application{ :name       => 'the window\'s _OB_APP_NAME property (see obxprop)',
  -#               :class      => 'the window\'s _OB_APP_CLASS property (see obxprop)',
  -#               :groupname  => 'the window\'s _OB_APP_GROUP_NAME property (see obxprop)',
  -#               :groupclass => 'the window\'s _OB_APP_GROUP_CLASS property (see obxprop)',
  -#               :role       => 'the window\'s _OB_APP_ROLE property (see obxprop)',
  -#               :title      => 'the window\'s _OB_APP_TITLE property (see obxprop)',
  -#               :type       => 'the window\'s _OB_APP_TYPE property (see obxprob); (if unspecified, then it is \'dialog\' for child windows)' }

    -# You may set only one of name/class/role/title/type, or you may use more
    -# than one together to restrict your matches.

    -# The name, class, role, and title use simple wildcard matching such as those
    -# used by a shell. You can use * to match any characters and ? to match
    -# any single character.

    -# The type is one of: “normal”, “dialog”, “splash”, “utility”, “menu”, “toolbar”, “dock”, or “desktop”.

    -# When multiple rules match a window, they will all be applied, in the
    -# order that they appear in this list.

    -# Each rule element can be left out or set to 'default' to specify to not
    -# change that attribute of the window.

    -# %decor yes
    -# enable or disable window decorations

    -# %shade no
    -# make the window shaded when it appears, or not

    -# %position{ :force => 'no' }
    -# the position is only used if both an x and y coordinate are provided
    -# (and not set to 'default');
    -# when force is “yes”, then the window will be placed here even if it
    -# says you want it placed elsewhere;
    -# this is to override buggy applications who refuse to behave

      -# %x center
      -# %y 200
      -# a number like 50, or “center” to center on screen;
      -# use a negative number to start from the right (or bottom for %y), ie -50 is 50 pixels from
      -# the right edge (or bottom);
      -# use “default” to specify using value provided by the application, or chosen by openbox, instead.

      -# %monitor 1
      -# specifies the monitor in a xinerama setup;
      -# 1 is the first head, or “mouse” for wherever the mouse is

    -# %size
    -# the size to make the window.

      -# %width 20
      -# %height 30%
      -# a number like 20, or “default” to use the size given by the application;
      -# you can use fractions such as 1/2 or percentages such as 75% in which
      -# case the value is relative to the size of the monitor that the window appears on

    -# %focus yes
    -# if the window should try be given focus when it appears;
    -# if this is set to “yes” it doesn't guarantee the window will be given focus;
    -# some restrictions may apply, but Openbox will try to

    -# %desktop 1
    -# 1 is the first desktop, “all” for all desktops

    -# %layer normal
    -# “above”, “normal”, or “below”

    -# %iconic no
    -# make the window iconified when it appears, or not

    -# %skip_pager no
    -# asks to not be shown in pagers

    -# %skip_taskbar no
    -# asks to not be shown in taskbars;
    -# window cycling actions will also skip past such windows

    -# %fullscreen yes
    -# make the window in fullscreen mode when it appears

    -# %maximized yes
    -# “Horizontal”, “Vertical” or boolean (yes/no)

  %application{ :class => '*' }
    %position{ :force => 'no' }
      %x center
      %y center

  %application{ :class => 'firefox', :role => 'browser' }
    %decor no

  %application{ :class => 'firefox', :role => 'toolbox' }
    %decor no

  %application{ :class => 'firefox', :role => 'Organizer' }
    %decor no

  %application{ :class => 'firefox', :role => 'Dialog' }
    %decor no
    %position{ :force => 'yes' }
      %x center
      %y center
    %size
      %width 500
      %height 340

  %application{ :class => 'firefox', :role => 'Dialog', :title => '*Choose User Profile' }
    %decor yes

  %application{ :class => 'firefox', :role => 'Dialog', :title => 'Opening*' }
    %decor yes

  %application{ :class => 'qBittorrent', :type => 'dialog' }
    %position{ :force => 'yes' }
      %x center
      %y center
    %size
      %width 1196
      %height 764

  %application{ :class => 'qBittorrent', :type => 'dialog', :title => 'Renam*' }
    %size
      %width default
      %height default

  %application{ :class => 'qBittorrent', :type => 'dialog', :title => 'Deletion confirmation' }
    %size
      %width default
      %height default

  %application{ :class => 'resolve', :type => 'normal' }
    %decor yes
    %maximized no
    %size
      %width 1574
      %height 856

  %application{ :class => 'retroarch', :type => 'normal' }
    %position{ :force => 'yes' }
      %x center
      %y center
    %size
      %width 1570
      %height 828

  -# %application{ :class => 'Firefox Developer Edition', :role => 'browser' }
  -#   %decor no
  -#   %maximized yes

  -# %application{ :class => 'qutebrowser' }
  -#   %decor no
  -#   %maximized yes

  -# %application{ :class => 'Gimp-2.10', :type => 'normal' }
  -#   %decor no
  -#   %maximized yes

  -# %application{ :class => 'Inkscape', :type => 'normal' }
  -#   %decor no
  -#   %maximized yes

  %application{ :class => 'Inkscape', :type => 'dialog', :title => 'Objects' }
    %position{ :force => 'no' }
      %x 1240
      %y 20
    %size
      %width  350
      %height 780

  %application{ :class => 'Inkscape', :type => 'dialog', :title => 'Arrange' }
    %position{ :force => 'no' }
      %x 1200
      %y 60
    %size
      %width  350
      %height 500

  %application{ :class => 'Inkscape', :type => 'dialog', :title => 'Align and Distribute*' }
    %position{ :force => 'no' }
      %x 1160
      %y 100
    %size
      %width  350
      %height 500

  %application{ :class => 'Inkscape', :type => 'dialog', :title => 'Fill and Stroke*' }
    %position{ :force => 'no' }
      %x 1120
      %y 140
    %size
      %width  350
      %height 500

  %application{ :class => 'Inkscape', :type => 'dialog', :title => 'Selection Sets' }
    %position{ :force => 'no' }
      %x 1080
      %y 180
    %size
      %width  350
      %height 500

  -# %application{ :class => 'Mixxx', :type => 'normal' }
  -#   %decor no
  -#   %maximized yes

  -# %application{ :class => 'URxvt', :type => 'normal' }
  -#   %decor no
  -#   %maximized yes

  %application{ :class => 'URxvt', :type => 'normal' }
    %decor no
    %position{ :force => 'no' }
      %x 6
      %y 7
    %size
      %width 1907
      %height 1042

  %application{ :class => 'tabbed', :type => 'normal' }
    %decor no
    %position{ :force => 'no' }
      %x 6
      %y 9
    %size
      %width 1584
      %height 853

  -# %application{ :class => 'kitty', :type => 'normal' }
  -#   %decor no
  -#   %maximized yes

  -# %application{ :class => 'sunvox', :type => 'normal' }
  -#   %decor no
  -#   %maximized yes

  -# %application{ :class => 'GoldenDict', :type => 'normal' }
  -#   %decor no
  -#   %maximized yes

  -# %application{ :class => 'EBView', :type => 'normal' }
  -#   %decor no
  -#   %maximized yes

  %application{ :class => 'Zathura', :type => 'normal' }
    %position{ :force => 'no' }
      %x 6
      %y 9
    %size
      %width 1584
      %height 829

  %application{ :class => 'feh', :type => 'normal' }
    %position{ :force => 'yes' }
      %x center
      %y center

  %application{ :class => 'Luakit' }
    %decor no
    %size
      %width 1570
      %height 852

  %application{ :class => 'next', :type => 'normal' }
    %size
      %width 1570
      %height 830

  %application{ :class => 'Flowblade', :type => 'normal' }
    %decor no

  -#
  -# ::: Ardour :::
  -#

  %application{ :class => 'Ardour*', :title => 'Session Setup', :type => 'dialog' }
    %decor no
    %position
      %x center
      %y center
    %size
      %width 800
      %height 600

  -# :::Cinelerra Applicatin Settings:::
  -#
  -# Cinelerra timeline
  %application{ :class => 'Cinelerra', :title => 'Cinelerra: Program' }
    %decor no
    %position
      %x  13
      %y 536
    %size
      %width 1570
      %height 326

  -# :::Cinlerra: Main Windows:::
  -#
  -# Cinelerra compositor vindow
  %application{ :class => 'Cinelerra', :title => 'Cinelerra: Compositor' }
    %position
      %x 754
      %y  10
    %size
      %width  829
      %height 502

  -# Cinelerra view window
  %application{ :class => 'Cinelerra', :title => 'Cinelerra: Viewer' }
    %position
      %x 754
      %y  10
    %size
      %width  829
      %height 502

  -# Cinelerra resources vindow
  %application{ :class => 'Cinelerra', :title => 'Cinelerra: Resources' }
    %position
      %x 13
      %y 10
    %size
      %width  739
      %height 502

  -# :::Cinelerra: Dialogs:::
  -#
  -# Cinelerra load dialog
  %application{ :class => 'Cinelerra', :title => 'Cinelerra: Load' }
    %size
      %width  796
      %height 574

  -# Cinelerra save dialog
  %application{ :class => 'Cinelerra', :title => 'Cinelerra: Save' }
    %size
      %width  796
      %height 574

  -# Cinelerra output to file dialog
  %application{ :class => 'Cinelerra', :title => 'Output to file' }
    %size
      %width  796
      %height 574

  -# Cinelerra file exists dialog
  %application{ :class => 'Cinelerra', :title => 'Cinelerra: File Exists' }
    %size
      %width  796
      %height 574

  -# Cinelerra attach effect dialog
  %application{ :class => 'Cinelerra', :title => 'Cinelerra: Attach Effect' }
    %size
      %width  796
      %height 574

  -# Cinelerra suptitle path dialog
  %application{ :class => 'Cinelerra', :title => 'Subtitle path' }
    %size
      %width  796
      %height 574

  -# Cinelerra batch render dialog
  %application{ :class => 'Cinelerra', :title => 'Cinelerra: Batch Render' }
    %size
      %width  796
      %height 574

  -# :::Cinlerra: Effects:::
  -#
  -# Cinelerra video effect color 3 way dialog
  %application{ :class => 'Cinelerra', :title => '*Color 3 Way' }
    %position
      %x 13
      %y 10
    %size
      %width  739
      %height 502

  -# Cinelerra video effect title dialog
  %application{ :class => 'Cinelerra', :title => '*Title' }
    %position
      %x 13
      %y 10
    %size
      %width  739
      %height 502

  -# Cinelerra video effect histogram dialog
  %application{ :class => 'Cinelerra', :title => '*Histogram' }
    %position
      %x 13
      %y 10
    %size
      %width  739
      %height 502

