%dock
  %position TopLeft
  -# (Top|Bottom)(Left|Right|)|Top|Bottom|Left|Right|Floating

  %floatingX 0
  %floatingY 0

  %noStrut no

  %stacking Above
  -# “Above”, “Normal”, or “Below”

  %direction Vertical
  -# “Vertical“ or “Horizontal”

  %autoHide no

  %hideDelay 300
  -# in milliseconds (1000 = 1 second)

  %showDelay 300
  -# in milliseconds (1000 = 1 second)

  %moveButton Middle
  -# 'Left', 'Middle', 'Right'
