
##
## ::: C++ snippets
##

snippet " "" i
"${1}"${2}
endsnippet

snippet ( "" i
(${1})${2}
endsnippet

snippet { "" i
{${1}}${2}
endsnippet

snippet fc "function call" i
${1:NAME}(${2:ARGS})${3}
endsnippet

snippet if
if (${1:CONDITION}) {
  ${2:BODY}
}${3}
endsnippet

